<body>
    <section class="sectionSign">
        <div class="boxTitle">
            <h3>Plateforme Inscription</h3>
            <h4>Plateforme<span class="color-orange">Inscription</span></h4>
        </div>
        <div class="boxIndex">
            <div class="cardBox">
                <a href="~/Etablissements/Verification_eleves">
                    <div class="cardHome">
                        <div class="icone">
                            <img src="~/Content/images/students.svg" alt="">
                        </div>
                        <div class="text">
                            <h4 class="color-blue">éléves</h4>
                        </div>
                    </div>
                </a>
                <a href="~/Etablissements/Register_Etablissement">
                    <div class="cardHome">
                        <div class="icone">
                            <img src="~/Content/images/school.svg" alt="">
                        </div>
                        <div class="text">
                            <h4 class="color-orange">établissements</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="linkConnexion">
                <a href="~/Home/Login">Je me connecte</a>
            </div>
        </div>
    </section>
</body>