@model Inscription_Ligne.Models.Connexion
    <section class="sectionSign">
        <div class="circle-right"></div>
        <div class="boxConnexion">
            <div class="boxConnexion--content">
                <h2 class="title-connexion">Connexion</h2>
                <form action="" class="formConnexion form-row">
                    <div class="col-lg-12">
                        <div class="form--group">
                            <div class="icone"><img src="~/Content/icones/user.svg" alt="icone user"></div>
                            <input type="text" name="Username" class="form--group__input" placeholder="Username">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form--group">
                            <div class="icone"><img src="~/Content/icones/padlock.svg" alt="user padlock"></div>
                            <input type="password" class="form--group__input" placeholder="Mot de passe">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <button type="submit" name="Password" class="btnConnexion">Connexion</button>
                    </div>
                </form>
            </div>
            <div class="linkBottom">
                <span>Je n'est pas de compte ... <a href="~/Home/Index">Clique Ici</a></span>
            </div>
        </div>
    </section>
