<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription-Ligne</title>
    @Styles.Render("~/Template.css")
</head>
<body>

    @RenderBody()

    @Scripts.Render("~/Template.js")
</body>
</html>
