<div class="dashboard">
    <div class="sidebar" id="menu">
        <h4>dashboard</h4>
        <div class="menu">
            <ul class="list">
                <li class="list--item">
                    <a href="#" class="list--item__link">
                        <div class="icone">
                            <img src="~/Content/icones/home.svg" alt="">
                        </div>
                        <span>Accueil</span>
                    </a>
                </li>
                <li class="list--item">
                    <a href="~/Eleves/Completer_dossiers" class="list--item__link ">
                        <div class="icone">
                            <img src="~/Content/icones/folder.svg" alt="">
                        </div>
                        <span>Compléter mes dossiers</span>
                    </a>
                </li>
                <li class="list--item">
                    <a href="~/Eleves/Faire_versements" class="list--item__link">
                        <div class="icone">
                            <img src="~/Content/icones/payment.svg" alt="">
                        </div>
                        <span>Faire un Versement</span>
                    </a>
                </li>
                <li class="list--item">
                    <a href="~/Eleves/Mes_versements" class="list--item__link active">
                        <div class="icone">
                            <img src="~/Content/icones/payment.svg" alt="">
                        </div>
                        <span>Voir mes Versements</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="sidebar--content">
        <div class="topNav">
            <div class="icone" id="icon-open">
                <img src="~/Content/icones/menu.svg" alt="">
            </div>
            <div class="profil">
                <div class="photo">
                    <img src="~/Content/images/photo.jpg" alt="">
                </div>
                <span>Marie-Eude</span>
            </div>
        </div>
        <!-- content -->
        <div class="content--general">
            <section class="sectionDossier">
                <div class="container">
                    <div class="sectionDossier--content">
                        <div class="sectionDossier--content__top">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="card-dossier">
                                        <h3 class="title-cardDossier">Etablissement</h3>
                                        <p class="paragraph">Collège Voltaire Treichville</p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="card-dossier">
                                        <h3 class="title-cardDossier">Scolarité</h3>
                                        <p class="paragraph">250000 Fcfa</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sectionAllVersement">
                            <div class="boxTable">
                                <table class="table table-striped tableAllVersement">
                                    <thead>
                                        <tr>
                                            <th scope="col">N°</th>
                                            <th scope="col">Versements</th>
                                            <th scope="col">Reste</th>
                                            <th scope="col">Date du Versement</th>
                                            <th scope="col">Télécharger le reçu</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="number">1</td>
                                            <td>50000 fcfa</td>
                                            <td>200000 fcfa</td>
                                            <td>25-11-2020</td>
                                            <td>
                                                <a href="#">
                                                    <div class="icone">
                                                        <img src="~/Content/icones/download.svg" alt="download">
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="number">2</td>
                                            <td>50000 fcfa</td>
                                            <td>200000 fcfa</td>
                                            <td>25-11-2020</td>
                                            <td>
                                                <a href="#">
                                                    <div class="icone">
                                                        <img src="~/Content/icones/download.svg" alt="download">
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="number">3</td>
                                            <td>50000 fcfa</td>
                                            <td>200000 fcfa</td>
                                            <td>25-11-2020</td>
                                            <td>
                                                <a href="#">
                                                    <div class="icone">
                                                        <img src="~/Content/icones/download.svg" alt="download">
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>