<div class="dashboard">
    <div class="sidebar" id="menu">
        <h4>dashboard</h4>
        <div class="menu">
            <ul class="list">
                <li class="list--item">
                    <a href="#" class="list--item__link">
                        <div class="icone">
                            <img src="~/Content/icones/home.svg" alt="">
                        </div>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="list--item">
                    <a href="~/Etablissements/Dashboard_etablissement" class="list--item__link active">
                        <div class="icone">
                            <img src="~/Content/icones/clipboard.svg" alt="">
                        </div>
                        <span>Enregistrement</span>
                    </a>
                </li>
                <li class="list--item">
                    <a href="~/Etablissements/Liste_eleves" class="list--item__link">
                        <div class="icone">
                            <img src="~/Content/icones/student.svg" alt="">
                        </div>
                        <span>Liste des éléves</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="sidebar--content">
        <div class="topNav">
            <div class="icone" id="icon-open">
                <img src="~/Content/icones/menu.svg" alt="">
            </div>
            <div class="profil">
                <div class="photo"></div>
                <span>College Volaire Treichville</span>
            </div>
        </div>
        <!-- content -->
        <div class="content--general">
            <section class="sectionStudent">
                <div class="container">
                    <div class="sectionStudent--content">
                        <div class="box-cardStudent">
                            <div class="row">
                                <div class="col-12 col-md-5 col-lg-4">
                                    <div class="card-student">
                                        <h4 class="titlePhoto">Photo</h4>
                                        <div class="photoStudent">
                                            <img src="~/Content/images/photo.jpg" alt="photo" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-7 col-lg-8">
                                    <div class="card-student">
                                        <h4 class="titlePhoto">Mes informations</h4>
                                        <div class="row">
                                            <div class="col-6 col-lg-6">
                                                <div class="boxInfo">
                                                    <h3>Nom</h3>
                                                    <span>Kouassi</span>
                                                </div>
                                                <div class="boxInfo">
                                                    <h3>Prénom</h3>
                                                    <span>Marie-Eude</span>
                                                </div>
                                            </div>
                                            <div class="col-6 col-lg-6">
                                                <div class="boxInfo">
                                                    <h3>Niveau</h3>
                                                    <span>Seconde C</span>
                                                </div>
                                                <div class="boxInfo">
                                                    <h3>Classe</h3>
                                                    <span>2nde C1</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="card-student pd">
                                        <div class="boxTable">
                                            <table class="table table-striped tableAllVersement">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Versements</th>
                                                        <th scope="col">Payer</th>
                                                        <th scope="col">Reste</th>
                                                        <th scope="col">Date du Versement</th>
                                                        <th scope="col">Mode de payement</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Versement 1</td>
                                                        <td>50000 fcfa</td>
                                                        <td>150000 fcfa</td>
                                                        <td>25-11-2020</td>
                                                        <td>Orange money</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Versement 2</td>
                                                        <td>50000 fcfa</td>
                                                        <td>150000 fcfa</td>
                                                        <td>25-11-2020</td>
                                                        <td>Flooz</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Versement 3</td>
                                                        <td>50000 fcfa</td>
                                                        <td>150000 fcfa</td>
                                                        <td>25-11-2020</td>
                                                        <td>Mobile Money</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
