<section class="sectionSign sectionSign__register">
    <div class="boxVerification boxVerification__register">
        <h2>Enregistrement</h2>
        <div class="boxVerification--content boxVerification--content__register">
            <form action="" class="formVerif form-row">
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="form--group">
                        <input type="text" class="form--group__input" placeholder="Code Etablissement">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="form--group">
                        <input type="text" class="form--group__input" placeholder="Nom de l'Etablissement">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="form--group">
                        <input type="text" class="form--group__input" placeholder="Localité">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="form--group">
                        <input type="email" class="form--group__input" placeholder="Email">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form--group">
                        <div class="parent-div parent-div--modify">
                            <button class="btn-upload">Ajouter un fichier</button>
                            <input type="file" name="upfile" class="form--group__input" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btnRegister">Envoyer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

