
<section class="sectionSign">
    <!-- <div class="circle-right"></div> -->

    <div class="boxVerification">
        <h2>Verification inscription en ligne</h2>
        <div class="boxVerification--content">
            <h6 class="bold-red">Entrez votre matricule pour la vérification de votre inscription en ligne</h6>
            <form action="" class="formVerif form-row">
                <div class="col-lg-12">
                    <div class="form--group">
                        <label for="">Matricule</label>
                        <input type="text" class="form--group__input" placeholder="Ex: 12435444Y">
                    </div>
                </div>
                <div class="col-lg-12">
                    <button type="submit" class="btnConnexion">Verification</button>
                </div>
            </form>
        </div>
    </div>
</section>
